[Unit]
Description=Service Status Indicator API
After=network.target

[Service]
WorkingDirectory=/etc/service-status-indicator/src/
ExecStart=/usr/bin/bash scripts/start-server.sh
Restart=always
RestartSec=10
StandardOutput=append:/var/log/service-status-indicator-api.log
StandardError=append:/var/log/service-status-indicator-api.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
